<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
  <connectionStrings>
    
    <!--Base de teste Cliente-->  
    <add name="ConnectionStringTOTVS_Teste" connectionString="Server=192.168.1.17;Database=HOMOLOGACAO;User Id=totvs;Password=totvs#741; Connect Timeout=3000; MultipleActiveResultSets=True;"/>
    <!--Producao-->
    <add name="ConnectionStringTOTVS" connectionString="Server=localhost;Database=PortalRH;User Id=sa;Password=sa; Connect Timeout=3000; MultipleActiveResultSets=True;"/>
    
  </connectionStrings>
  <appSettings>
    <!--Tempo em milisegundos de execução-->
    <add key="ExecutarACada" value="10000"/> 
    <add key="PurgLog" value="5"/>
    
    
    <!--Teste-->
    <!--<add key="SenhaEmail" value="Workflow@123"/>
    <add key="EmailFrom" value="workflow@exceptionbrasil.com.br"/>
    <add key="Host" value="mail.exceptionbrasil.com.br"/>
    <add key="HostPort" value="587"/>-->

    <!--Producao-->
    <add key="SenhaEmail" value="21Rh@20Proc"/>
    <add key="EmailFrom" value="rh-info@procisa.com.br"/>
    <add key="Host" value="smtp.office365.com"/>
        
    
    <add key="HostPort" value="587"/>
    <add key="EmailTeste" value=""/>
    <add key="CCEmail" value=""/>
    <add key="Teste" value="true"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
